@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;900&display=swap');

// Colors
$dark-color: #24292d;
$bright-color: #fffffa;
$contrast-color: #de172e;
$full-bg-color: #fffffa;
// breakpoints
$breakpoint-tablet: 768px;

// Fonts
$Heading-font: 'Montserrat', sans-serif;
$Heading-weight: 600;

$Body-text-font: 'Montserrat', sans-serif;
$Body-text-weight: 400;

// Screen breakpoints
$breakpoint-tablet: 768px;
$breakpoint-mobile: 490px;



#root {
  background-image: url('../src/assets/bg-desktop.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


  @media (max-width: $breakpoint-tablet) {
    background-image: url('../src/assets/bg-mobil.jpg');
  }
}

.overlay {
  background-color: rgba(255, 255, 255, 0.80);
}

* {
    box-sizing: border-box;
  }
  
  .App {
  //background-color: rgba(255, 255, 255, 0.90);
  margin: 0;
  margin: 0px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $bright-color;
  text-align: center;
  font-family: $Body-text-font;


    .react-spinner-material {
      margin: 0 auto;
    }

    .btn {
      color: white !important;
    }
  
    main {
      padding: 20px 0px 0px 0px;
      min-height: 90vh;
      width: 75vw;
      text-align: center;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
        font-size: 48px;
        font-weight: 900;
        color: $dark-color;
      }

    }

    li {
      list-style: none;
    }

    @media (max-width: $breakpoint-tablet) {
      main {width: 100vw;}

      p {
        font-size: 14px;
        line-height: 1.8;
      }
    }
  }
  .progress {
    display: flex;
    justify-content: center;
    text-align: center;
    height: auto;
    background-color: none;
  }

  footer {

    color: $dark-color;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 14px;
    padding: 20px 0px;

    .who {
      font-size: 14px;
      font-weight: 400;
      font-family: $Heading-font;
      margin: 0px;
    }
  
    a {
      font-weight: 800;
      color: $contrast-color;
      text-decoration: none;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    .App {padding: 4vh 0px 0vh 0px;} 
}